body{
  background-color: #EDCCBB;
  padding: 5%;
}
.fa-bars{
  font-size: 135%;
}
.acceuil{
  font-weight: bold;
  text-align:center;
}
.fa-shake{
  font-size: 135%;
}

.notification{
  text-align: end;
}
  .pa{ 
    width: auto;
    background-color: #EDCCBB;
    padding: 1%;
    margin-bottom:3%;
    border-radius: 10px 10px 10px 10px;
    border: 2px ridge #fff;
  }
  .div-form-referencer{
    width:100%;
    margin:auto;
}
textarea,select{
  border:none;
   width: 95%;
   height: 42px;
   background-color: #EDCCBB;
}
.btn-primar{
  background-color:#6FA19C;
  border:none;
  color:white;
  font-size: 25px;
  width:40%;
  margin:auto;
  padding: auto;
  margin-top: 3%;
  border-radius: 10px 10px 10px 10px;
  border-color:#fff;
}
.btn-danger{
  background-color: #353535;
  border:none;
  font-size: 25px;
  width:40%;
  margin:auto;
  margin-right: 18%;
  margin-top: 3%;
  border-radius: 10px 10px 10px 10px;
}
label{
  margin-top: 2%;
  color: #fff;
  font-weight:bold;
  font-family: sans-serif;
}
textarea:focus{
  border: 1px solid #EDCCBB;
}
.asterix{
  font-size: 22px;
  color:#8e4646
}
main{
  background-color: #A1745F;
  margin-bottom:20%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #ffffff;
}
footer{
  margin-top:2%;
  position: fixed;
  left:0%;
  bottom: 0px;
  right:0px;
}
.footer-menu{
   width:100%;
   background-color: #EDCCBB;
   border: 1px solid #fff;
   margin:auto;
   padding:2%;
   border-radius: 20px 20px 0px 0px;
}
footer .fa-solid{
    font-size: 160%;
    text-align: center;
}
.footer-menu .fa-plus-circle{
  font-size: 50px;
  text-align: center;
}
footer .col{
    text-align: center;
}
footer a {
  color:#403f3fdf
}
footer a :active{
  color:#383838df
}
footer h6{
  color:#403f3fdf
}
footer .col{
  text-align: center;
}
header a{
text-decoration: none;
}
.badge{
  background-color: #6FA19C;
  color:#fff
}
.notification{
  text-align: end;
}
.fa-bell{
  color:#2b2929df
}